/* Code tidied up by ScrapBook */
@import url("prettyPhoto.css");
@import url("shortcodes.css");
* { font-family: "Open Sans","Trebuchet MS",Helvetica,Arial,sans-serif; }
*::selection { background: rgb(200, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); }
*::-moz-selection { background: rgb(200, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); }
button { border: medium none; background: transparent none repeat scroll 0% 0%; padding: 6px 10px; margin: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; }
body { background: rgb(241, 241, 241) url("light-bg.png") no-repeat scroll center -300px; font-family: Arial,Helvetica,sans-serif; color: rgb(119, 119, 119); line-height: 22px; position: relative; font-size: 13px; }
h1, h2, h3, h4, h5, h6, strong, b, span { color: rgb(85, 85, 85); }
strong, b { font-weight: bold; }
* {  }
p { line-height: 1.5em; font-family: Arial,Helvetica,sans-serif; }
img, #portfolio-items .project-entry a.project-thumbnail .overlay { transition: all 0.3s linear 0s; }
a, a:link, a:visited, a strong { transition: all 0.3s linear 0s; text-decoration: none; }
ul.ul li, ol.ol li, ul li, ol li { padding-top: 5px; padding-bottom: 5px; }
a:hover { text-decoration: none; }
.cufon {  }
.entry-header { padding-top: 10px; }
#breadcrumb-wrapper .breadcrumbs li a:hover, #breadcrumb-wrapper .breadcrumbs li span.current, #sidebar a, #sidebar a strong, #portfolio-filter li a, .project-entry h4 a, .project-entry h5 a, #main-content-wrapper ol li a, .link-pages a, .sp-list li a, .carousel-flexslider h4 a, .carousel-flexslider h5 a, #sidebar .widget_recent_comments ul li a:first-child:hover { color: rgb(85, 85, 85); }
a:hover, #sidebar a:hover, #sidebar a:hover strong, .comment-content a:hover, #sidebar .widget-twitter li a:hover { color: rgb(249, 87, 0); }
h1.double-color strong, h2.double-color strong, h3.double-color strong, h4.double-color strong, h5.double-color strong, h6.double-color strong, a, .comment-content a, .comment-time a:hover, .comment-link-function a:hover, .required, .entry-meta ul li a:hover, .post-tags a:hover, .comment-meta cite a, .comment-meta cite, #comment-nav-below a:hover, #error-404 h1, #sidebar ul li a:hover, #top-bar-wrapper a:hover, #footer-widget-wrapper a:hover, #footer-extra-wrapper a:hover, #footer-widget-wrapper a:hover strong, #footer-extra-wrapper a:hover strong, #main-content-wrapper ul li a:hover, #main-content-wrapper ol li a:hover, #sidebar .widget-twitter li a, #footer-widget-wrapper .widget-twitter li a:hover, #sidebar .widget ul li.current-cat > a, .link-pages a, .error, #sidebar .md-latest-portfolios-widget p a:hover, .sp-list li a:hover, #sidebar .widget_recent_comments ul li a:first-child, .m-simple-accordion dt.active span, .m-simple-toggle dt.active span, .m-simple-tabs dt.active span { color: rgb(214, 40, 49); }
#top-bar-wrapper strong, #top-bar-wrapper a strong, #top-bar-wrapper ul li a:hover, #top-bar-wrapper a, #footer-widget-wrapper strong, #footer-widget-wrapper a, #footer-extra-wrapper a, #footer-extra-wrapper strong, #footer-widget-wrapper h3.widget-title strong, #footer-widget-wrapper .widget-twitter li a { color: rgb(255, 255, 255); }
#top-bar-wrapper p, #top-bar-wrapper ul li a, #footer-wrapper p, #footer-widget-wrapper h3.widget-title, #footer-widget-wrapper p, #footer-widget-wrapper .widget ul li, #sidebar .md-latest-portfolios-widget p a, .carousel-flexslider p a, .widget_recent_comments ul li, .icon-boxes-wrapper2 .icon-header p, #portfolio-filter li a span { color: rgb(170, 170, 170); }
.box_skitter_home.maxx-theme .prev_button, .box_skitter_home.maxx-theme .next_button, .box_skitter_home.maxx-theme .info_slide_dots, .button, .m-pagination a, .m-pagination span.current, #navigation-bar, #portfolio-filter li a.active, .m-simple-accordion dt, .m-simple-toggle dt, .m-simple-tabs dt { background: transparent -moz-linear-gradient(center top , rgb(255, 255, 255) 0%, rgb(243, 243, 243) 100%) repeat scroll 0% 0%; transition: background-color 0.3s linear 0s; }
.maxx-primary-button, input[type="submit"], .m-pagination span.current, button[type="submit"] { background-color: rgb(214, 40, 49); }
.maxx-primary-button, .button, .m-pagination a, .m-pagination span.current { border-radius: 3px; display: inline-block; padding: 2px 10px; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; float: left; }
#top-bar-wrapper, #footer-widget-wrapper { background-color: rgb(43, 43, 43); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
.m-pagination a:hover, .m-pagination span.current, .maxx-primary-button, .maxx-primary-button:hover, input[type="submit"], input[type="submit"]:hover, button[type="submit"], .button:hover { box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.2) inset, -1px 0px 0px rgba(0, 0, 0, 0.1) inset, 1px 0px 0px rgba(0, 0, 0, 0.1) inset; }
.maxx-primary-button, input[type="submit"], button[type="submit"], .m-pagination a:hover, .m-pagination span.current, .maxx-primary-button:hover, input[type="submit"]:hover, .button:hover { text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255) ! important; background-image: url("light-overlay.png"); background-position: center -5px; }
.m-pagination a:hover, a.maxx-primary-button:hover, input[type="submit"]:hover, button[type="submit"]:hover, a.button:hover { background-color: rgb(85, 85, 85); transition: background-color 0.3s linear 0s; }
#header { border-top: 5px solid rgb(255, 0, 0); position: relative; z-index: 98; }
#top-wrapper { background-image: url("new-bg-header2.jpg"); background-repeat: repeat-x; background-position: center top; }
#banner { height: 265px; padding: 20px 0px; overflow: hidden; }
#navigation-bar { border-radius: 5px; height: 50px; box-shadow: -1px -1px 0px rgb(255, 255, 255) inset, 0px 1px 3px rgba(0, 0, 0, 0.1); margin-bottom: 50px; display: block; position: relative; z-index: 9999; }
#primary-nav { float: left; }
#g-search { float: right; margin-right: 11px; margin-top: 11px; }
#g-search input { width: 200px; padding: 0px 5px; margin: 0px; height: 26px; float: left; border-color: rgb(231, 231, 231) currentcolor rgb(231, 231, 231) rgb(231, 231, 231); border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: medium none; }
#g-search input:focus { box-shadow: none; border-color: rgb(231, 231, 231); }
#g-search button { background-image: url("light-overlay.png"); background-repeat: repeat-x; background-position: left -3px; background-color: rgb(214, 40, 49); border-top-left-radius: 0px; border-bottom-left-radius: 0px; text-indent: -9999px; width: 50px; overflow: hidden; margin: 0px; padding: 7px 10px 6px; height: 28px; font-size: 12px; font-family: Arial,Helvetica,sans-serif; position: relative; cursor: pointer; transition: all 0.3s linear 0s; box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.2) inset, -1px 0px 0px rgba(0, 0, 0, 0.1) inset, 1px 0px 0px rgba(0, 0, 0, 0.1) inset; }
#g-search button:hover { background-color: rgb(85, 85, 85); }
#g-search button::before { content: ""; position: absolute; width: 22px; height: 22px; background-image: url("button-search.png"); display: block; overflow: hidden; top: 4px; left: 15px; }
#main-content-wrapper { padding: 0px; }
#main-content-wrapper img, #sidebar img { width: auto; max-width: 100%; height: auto; }
#get-in-touch-wrapper { overflow: hidden; padding-top: 80px; background: transparent url("large-seperator.png") no-repeat scroll center top; }
#get-in-touch { min-height: 75px; }
#get-in-touch #via-phone-number { white-space: nowrap; float: left; }
#get-in-touch #via-phone-number .icon { background-repeat: repeat-x; margin-right: 20px; position: relative; background-image: url("light-overlay.png"); background-position: center 5px; box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.2) inset, -1px 0px 0px rgba(0, 0, 0, 0.1) inset, 1px 0px 0px rgba(0, 0, 0, 0.1) inset; text-align: center; background-color: rgb(214, 40, 49); width: 50px; height: 50px; display: block; margin-top: 8px; float: left; border-radius: 5px; }
#get-in-touch #via-phone-number .icon img { margin-top: 8px; }
#get-in-touch #via-phone-number h2 { margin-bottom: 5px; line-height: 25px; }
#get-in-touch #via-phone-number .icon::before { content: ""; width: 100%; border-radius: 3px; height: 100%; position: absolute; left: 0px; }
#get-in-touch #via-email { float: right; }
#sidebar input[type="text"], #footer-widget-wrapper input[type="text"], #sidebar input[type="email"], #footer-widget-wrapper input[type="email"], #sidebar textarea, #footer-widget-wrapper textarea { width: 90%; max-width: 90%; }
#footer-widget-wrapper { background-image: url("footer-bg.jpg"); background-repeat: repeat; color: rgb(255, 255, 255); padding-top: 30px; padding-bottom: 20px; overflow: hidden; min-height: 350px; display: block; }
#footer-widget-content em { color: rgb(102, 102, 102); }
#footer-widget-content .widget-title, #sidebar .widget-title { margin-bottom: 20px; padding-bottom: 30px; background-repeat: repeat-x; }
#footer-widget-content .widget-title { background-image: url("dark-heading-sp.png"); }
#footer-widget-wrapper input { box-shadow: none; }
#footer-widget-wrapper img { max-width: 100%; }
#sidebar .widget-title { background-image: url("light-heading-sp.png"); }
#footer-widget-content::-moz-placeholder { color: rgb(85, 85, 85); }
#footer-extra-wrapper { background: rgb(24, 24, 24) none repeat scroll 0% 0%; display: table; padding: 30px 0px; font-size: 10px; text-transform: uppercase; color: rgb(96, 96, 96); }
#footer-extra-wrapper img { vertical-align: text-bottom; }
#footer-widget-wrapper .widget ul li { background-image: url("dark-sp.png"); }
#footer-widget-wrapper input[type="text"], #footer-widget-wrapper .widget-contact input[type="text"], #footer-widget-wrapper .widget-contact input[type="email"], #footer-widget-wrapper .widget-contact textarea { background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; box-shadow: none; border-color: rgba(255, 255, 255, 0.1); color: rgb(170, 170, 170); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
#footer-widget-wrapper .widget-contact input[type="submit"], #footer-widget-wrapper button[type="submit"] { box-shadow: none; }
#sidebar .sidebar-top, #sidebar .sidebar-bottom { background-image: url("sidebar-top-bottom-sprite.png"); background-repeat: no-repeat; height: 30px; width: 100%; position: absolute; z-index: 1; }
#sidebar .sidebar-top { top: 0px; }
#sidebar .sidebar-bottom { bottom: 0px; }
.sidebar-right #sidebar .sidebar-top, .sidebar-right #sidebar .sidebar-bottom { background-position: left top; }
#sidebar .sidebar-content { margin-top: 30px; margin-bottom: 30px; padding-bottom: 20px; background-repeat: repeat-y; }
.sidebar-right .sidebar-content-wrapper { margin-left: 20px; }
.sidebar-right #sidebar .sidebar-content { background-image: url("sidebar-right-repeat.png"); background-position: left center; }
.sidebar-right #sidebar .sidebar-top { background-position: left -60px; }
.sidebar-right #sidebar .sidebar-bottom { background-position: left bottom; }
.sidebar-right #sidebar, .sidebar-left #content { float: right; }
.sidebar-left #sidebar, .sidebar-right #content { float: left; }
#content { width: 650px; }
#sidebar { width: 280px; position: relative; }
#sidebar .widget .widget-title {  }
.md_categories_widget ul li, .md_recent_popular_post_widget ul li, .widget_archive ul li, .widget_categories ul li, .widget_pages ul li, .widget_links ul li, .widget_meta ul li, .widget_recent_comments ul li, .widget_recent_entries ul li, .widget_rss ul li, .widget_nav_menu ul li, .md_childpages_widget ul li, .sp-list li, .list-news-with-calendar li { position: relative; background-image: url("sp.png"); background-repeat: repeat-x; padding-top: 10px; padding-bottom: 10px; background-position: center top; }
.md_categories_widget ul li:first-child, .md_recent_popular_post_widget ul li:first-child, .widget_archive ul li:first-child, .widget_categories ul li:first-child, .widget_pages ul li:first-child, .widget_links ul li:first-child, .widget_meta ul li:first-child, .widget_recent_comments ul li:first-child, .widget_recent_entries ul li:first-child, .widget_rss ul li:first-child, .widget_nav_menu ul li:first-child, .md_childpages_widget ul li:first-child, .sp-list li:first-child, .list-news-with-calendar li:first-child { background: transparent none repeat scroll 0% 0% ! important; }
#sidebar .widget.widget_categories ul li a, #sidebar .widget.widget_nav_menu ul li a, ul.bullet li a, .md_categories_widget ul li a { padding-left: 20px; background: transparent url("bullet-list.png") no-repeat scroll left center; }
.widget { margin-bottom: 30px; }
#sidebar .widget { width: 100%; position: relative; z-index: 2; clear: both; }
.list li, .widget ul li { display: list-item; padding-top: 5px; padding-bottom: 5px; }
.widget ul li:first-child { border-top: medium none; }
.widget ul li:last-child { border-bottom: medium none; }
.textwidget { padding: 10px 0px; }
#footer-widget-content .tagcloud a, #footer-widget-wrapper a.img-border { background-color: rgba(0, 0, 0, 0.3); border: medium none; }
.entry-meta, .featured-image, .entry-content { margin-bottom: 20px; }
.post-entry { margin-bottom: 50px; }
.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: ""; line-height: 0; }
.clearfix::after { clear: both; }
.sertificates-wrapper { padding-bottom: 40px; }
.left-col-sertificates { float: left; width: 35%; }
.right-col-sertificates { float: left; width: 60%; }
#sertificates-slider {  }
#sertificates-slider .item-s { margin: 0px 10px; }
#sertificates-slider .item-s img { border: 5px solid rgb(51, 51, 51); }
#sertificates-slider .item-s p { display: none; }
#sertificates-slider .owl-controls .owl-page { display: inline-block; }
#sertificates-slider .owl-controls .owl-page span { height: 10px; width: 10px; background-color: rgb(249, 87, 0); display: inline-block; margin-left: 10px; border-radius: 50%; }
#sertificates-slider .owl-controls .owl-page.active span { height: 10px; width: 10px; background-color: rgb(51, 51, 51); display: inline-block; margin-left: 10px; border-radius: 50%; }
.owl-pagination { text-align: center; }
.header-sertificate { height: 143px; padding-top: 50px; width: 500px; }
.single-sertificate { margin-right: 20px; }
.single-sertificate img { border: 20px solid rgb(51, 51, 51); width: 300px ! important; }
.header-sertificate p { padding: 20px 0px 20px 50px; color: rgb(255, 255, 255); font-size: 25px; margin-left: -18px; background: rgb(249, 87, 0) none repeat scroll 0% 0%; }
#sertificates-slider .item-s img { cursor: pointer; }
.header-wade { color: rgb(0, 0, 0); font-size: 30px; text-align: center; padding-bottom: 30px; }
#mail-slider .item-m { margin: 0px 10px; }
#mail-slider .item-m p { text-align: center; font-size: 16px; padding-top: 10px; }
#mail-slider .item-m img { height: 360px; border: 5px solid rgb(51, 51, 51); }
#mail-slider .owl-controls { text-align: center; }
#mail-slider .owl-controls .owl-page { display: inline-block; }
#mail-slider .owl-controls .owl-page span { height: 10px; width: 10px; background-color: rgb(249, 87, 0); display: inline-block; margin-left: 10px; border-radius: 50%; }
#mail-slider .owl-controls .owl-page.active span { height: 10px; width: 10px; background-color: rgb(199, 171, 171); display: inline-block; margin-left: 10px; border-radius: 50%; }
.owl-pagination { text-align: center; }
.owl-prev { position: absolute; top: 41%; left: -35px; font-size: 50px; color: rgb(199, 171, 171); }
.owl-prev:hover { color: rgb(249, 87, 0); }
.owl-next { position: absolute; top: 41%; right: -30px; font-size: 50px; color: rgb(199, 171, 171); }
.owl-next:hover { color: rgb(249, 87, 0); }
.slider-mail-wrappper { padding-bottom: 40px; }
.video-slider { width: 99%; }
.video-slider .item-v img { border: 5px solid rgb(51, 51, 51); }
.video-slider .owl-wrapper-outer { margin-left: 10px; }
.video-slider .owl-controls { text-align: center; }
.video-slider .owl-controls .owl-page { display: inline-block; }
.video-slider .owl-controls .owl-page span { height: 10px; width: 10px; background-color: rgb(249, 87, 0); display: inline-block; margin-left: 10px; border-radius: 50%; }
.video-slider .owl-controls .owl-page.active span { height: 10px; width: 10px; background-color: rgb(199, 171, 171); display: inline-block; margin-left: 10px; border-radius: 50%; }
.owl-pagination { text-align: center; }
.video-slider a.title-video { text-align: center; font-size: 16px; padding-top: 10px; display: block; padding-bottom: 15px; }
.video-slider .owl-prev { position: absolute; top: 30%; left: -60px; font-size: 50px; color: rgb(199, 171, 171); }
.owl-prev:hover { color: rgb(249, 87, 0); }
.video-slider .owl-next { position: absolute; top: 30%; right: -35px; font-size: 50px; color: rgb(199, 171, 171); }
#mail-slider .owl-next { right: -40px; }
#mail-slider .owl-prev { left: -50px; }
.owl-next:hover { color: rgb(249, 87, 0); }
.single-sertificate img { height: 480px; }
.owl-carousel { margin-top: -6px; }
.owl-carousel .owl-wrapper-outer { margin-left: -10px; }
.sub-menu { background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.wrapper-sertificate2 { background-image: url("bg44.png"); }
.wrapper-sertificate3 { background-image: url("bg55.png"); }
.header-wade { padding-top: 30px; color: rgb(0, 0, 0); }
.header-wade a { color: rgb(0, 0, 0); }
.header-wade a:hover { color: red; }
.header-wade a:hover > span { color: red; }
.header-wade a span { font-size: 15px; text-decoration: underline; color: rgb(0, 0, 0); }
.header-wade a span:hover { color: red; }
.wade-white a { color: rgb(255, 255, 255); }
.wade-white a span { color: rgb(255, 255, 255); }
.header-sertificate { border-radius: 0px; position: relative; width: 565px; }
.header-sertificate::after { content: " "; position: absolute; top: 50px; right: -40px; border-width: 20px; border-style: solid; border-color: rgb(249, 87, 0) transparent transparent rgb(249, 87, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.header-sertificate::before { content: " "; position: absolute; bottom: 66px; right: -40px; border-width: 20px; border-style: solid; border-color: transparent transparent rgb(249, 87, 0) rgb(249, 87, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.item-v.item-v:hover::after { opacity: 1; }
.item-v { position: relative; }
.item-v::after { content: " "; height: 40px; width: 50px; background-image: url("yy.png"); background-repeat: no-repeat; background-position: center center; background-size: cover; position: absolute; top: calc(39% - 20px); left: calc(50% - 25px); border-radius: 6px; cursor: pointer; pointer-events: none; opacity: 0.8; }
.owl-next { background-image: url("next.png"); height: 36px; width: 36px; background-position: center top; background-repeat: no-repeat; }
.owl-prev { background-image: url("prev.png"); height: 36px; width: 36px; background-position: center top; background-repeat: no-repeat; }
.owl-next:hover, .owl-prev:hover { background-position: center bottom; }
#banner { height: 180px; }
.new-header { width: 1024px; margin: 0px auto; }
.hd-col { float: left; }
.logo-container { width: 140px; }
.logo-container img { width: 90%; margin-top: 16px; }
.slogan { width: 200px; }
.slogan p { color: rgb(0, 0, 0); text-transform: uppercase; font-size: 16px; font-weight: bold; padding-top: 20px; padding-left: 22px; }
.phone-block { width: 440px; padding: 0px 25px; }
.phone-block .wrap-phones { border: 1px solid rgb(205, 207, 208); border-radius: 8px; margin-top: 20px; padding: 10px 25px 5px; }
.phone-block .wrap-phones .left-phone-path, .phone-block .wrap-phones .right-phone-path { float: left; width: 50%; }
.phone-block .wrap-phones .right-phone-path { background-image: url("bg-phone.png"); background-repeat: no-repeat; background-position: 0px 5px; padding-left: 77px; width: 30%; }
.phone-l { font-weight: bold; font-size: 23px; color: rgb(0, 0, 0); margin-bottom: -4px; }
.phone-r.single { padding: 12px 0px; }
.phone-r { font-weight: bold; font-size: 17px; color: rgb(0, 0, 0); margin-bottom: 0px; display: inline-block; }
.phone-r:hover { color: rgb(0, 0, 0); }
.phone-r span { color: rgb(153, 156, 159); }
.phone-l-desc { color: rgb(153, 156, 159); font-size: 12px; margin-bottom: 5px; }
.adres-block { width: 180px; }
.adres-block p { color: rgb(0, 0, 0); font-size: 14px; padding-top: 35px; }
#toTop { width: 36px; height: 36px; background-image: url("b3-.png"); background-repeat: no-repeat; background-position: left center; text-align: center; position: fixed; bottom: 40px; left: 30px; cursor: pointer; display: none; }
#toTop:hover { opacity: 0.7; }
.fixed-width-wrapper { position: relative; }
#wrap-all { background: transparent url("bg2.png") repeat scroll 0% 0% ! important; }
#sidebar .sidebar-video-box img { width: 260px; height: auto; }
#sidebar .sidebar-video-box .sidebar-video-title { font-size: 16px; text-align: center; }
#sidebar .sidebar-content { padding-bottom: 0px; }
#menu-primary-menu > li:last-child > a { position: relative; width: 150px; }
#menu-primary-menu > li:last-child > a::before { content: "new"; height: 20px; width: 30px; background-color: rgb(249, 87, 0); display: block; position: absolute; top: 6px; right: 10px; color: rgb(255, 255, 255); padding: 3px 10px; font-size: 15px; line-height: 19px; border-radius: 3px; }
.sidebar-video-item.sidebar-video-item:hover::before { opacity: 1; }
.sidebar-video-item { position: relative; }
.sidebar-video-item::before { content: " "; height: 40px; width: 50px; background-image: url("yy.png"); background-repeat: no-repeat; background-position: center center; background-size: cover; position: absolute; top: calc(50% - 20px); left: calc(50% - 25px); border-radius: 6px; cursor: pointer; pointer-events: none; opacity: 0.8; }
