/* Code tidied up by ScrapBook */
@import url("css.css");
.post-entry { padding-left: 5px; padding-right: 5px; }
.modal { position: fixed; z-index: 9999; top: 0px; right: 0px; bottom: 0px; left: 0px; display: none; overflow-y: auto; transition: opacity 0.15s linear 0s; outline: 0px none; background-color: rgba(0, 0, 0, 0.5); }
.modal .modal-block { position: relative; max-width: 600px; margin: auto; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 5px; background-color: rgb(255, 255, 255); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
.modal-content { text-align: left; padding: 15px; font-size: 14px; }
.modal .close-modal { position: absolute; top: 6px; right: 9px; cursor: pointer; font-weight: 700; line-height: 1; opacity: 0.4; text-shadow: 0px 1px 0px rgb(255, 255, 255); font-size: 20px; z-index: 9; }
input[type="text"], input[type="submit"], textarea { -moz-appearance: none; }
.btn_default { width: 185px; height: 42px; margin-top: 15px; cursor: pointer; font-size: 18px; line-height: 33px; color: rgb(255, 255, 255); border-width: medium 2px 2px medium; border-style: none solid solid none; border-color: currentcolor rgb(90, 1, 1) rgb(90, 1, 1) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 5px; background-color: red; background-image: linear-gradient(0deg, rgb(126, 0, 0) 0px, rgb(126, 0, 0) 1%, red); text-shadow: 0px 1px 0px rgb(0, 0, 0); }
.btn_default:hover { background-color: rgb(90, 1, 1); background-image: none; box-shadow: 3px 2.6px 4px rgba(30, 11, 1, 0.41) inset; }
.sidebar-content { text-align: center; padding-bottom: 15px; }
@media (max-width: 1000px) {
}
@media (max-width: 850px) {
}
@media (max-width: 700px) {
  .sidebar-content img { width: auto ! important; }
}
@media (max-width: 600px) {
}
@media (max-width: 450px) {
}
@media (max-width: 386px) {
}
@media (max-width: 325px) {
}
