/* Code tidied up by ScrapBook */
body { font-size: 13px; font-family: Arial,Helvetica,sans-serif; color: rgb(41, 41, 41); }
p { font-family: Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * { font-family: "Arial" ! important; }
h1 { font-size: 30px; line-height: 40px ! important; letter-spacing: 0px ! important; margin-bottom: 35px; }
h2 { font-size: 26px; line-height: 35px ! important; letter-spacing: 0px ! important; margin-bottom: 10px; }
h3 { font-size: 22px; line-height: 30px ! important; letter-spacing: 0px ! important; margin-bottom: 20px; }
#header { border-top: 0px solid rgb(85, 85, 85); }
.header_social_btn { display: none; margin: 15px auto 0px; align-items: center; width: 260px; justify-content: center; flex-flow: row wrap; background-color: rgb(237, 230, 212); border-radius: 10px; border: 1px solid rgb(255, 255, 255); padding: 7px 0px; }
.header_social_btn .soc_link { padding-left: 12px; display: flex; align-items: center; text-align: center; justify-content: center; }
.header_social_btn .soc_link img { width: 23px; height: 23px; }
.header_social_btn .soc_link:not(:last-child) { position: relative; padding: 0px 12px; }
.header_social_btn .soc_link:not(:last-child)::after { content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: 0px; width: 1px; height: 14px; border-right: 1px solid rgb(201, 201, 201); }
.header_social_btn .soc_link:first-child { padding-left: 0px; }
#wrap-all {  }
.m-menu ul > li, #g-search button, .box_skitter_home.maxx-theme .info_slide_dots span, .maxx-primary-button, input[type="submit"], button[type="submit"], .m-pagination a:hover, .m-pagination span.current, .maxx-primary-button:hover, input[type="submit"]:hover, .button:hover, #get-in-touch #via-phone-number .icon { background-position: left 0px ! important; }
#clesch { width: 44px; height: 110px; position: fixed; top: 150px; right: 5px; z-index: 101; background: transparent url("cashback-icon.svg") no-repeat scroll 0% 0% / cover ; }
.persdate { font-size: 8px; line-height: 1.2; display: block; margin: 10px auto 2px; width: 100%; padding: 0px 3px; text-align: left; position: relative; z-index: 99; clear: both; font-weight: 600; text-shadow: 0px 0px 0px rgb(0, 0, 0); }
.persdate a { color: rgb(48, 181, 243); cursor: pointer; }
.persdate input { margin: 3px ! important; width: auto ! important; height: auto ! important; display: inline-block ! important; box-shadow: none ! important; vertical-align: baseline ! important; }
.block-crumbs { overflow: hidden; padding-left: 10px; position: absolute; top: -40px; }
.block-crumbs a, .block-crumbs span { display: inline-block; float: left; padding: 0px 15px; font-size: 10px; text-transform: uppercase; color: rgb(170, 170, 170); }
.block-crumbs span { color: rgb(102, 102, 102); }
.block-crumbs .arrow { background: transparent url("breadcum-arr.png") no-repeat scroll left center; float: left; }
.row::before, .row::after, .clearfix::before, .clearfix::after { content: ""; display: table; clear: both; }
.slogan p { font-size: 15px; margin-top: 14px; padding-left: 10px; line-height: 1.2; text-transform: capitalize; }
.lForm { max-width: 350px; width: 100%; display: flex; flex-direction: column; padding: 15px 30px; border: 1px solid rgb(242, 159, 114); background-color: rgb(239, 235, 224); }
.lForm__title { text-transform: uppercase; text-align: center; font-size: 18px; font-weight: 700; color: rgb(249, 87, 0); margin-bottom: 15px; }
.lForm p { margin-top: 8px; margin-bottom: 0px; }
@media (max-width: 991px) {
  .slogan p { margin-top: 0px; }
}
@media (max-width: 668px) {
  .header_social_btn { display: flex; }
}
@media (max-width: 520px) {
  .request input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea, .col-three input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea { width: 94%; }
}
@media (max-width: 480px) {
  body .entry-content { padding: 0px 5px; }
  .phone-block .wrap-phones .right-phone-path { background-position: 12% 5px; }
  .block-crumbs a, .block-crumbs span { padding: 0px 10px; }
  .block-crumbs { position: static; margin-top: 20px; }
  #clesch { top: 190px; }
}
@media (max-width: 380px) {
  .slogan { width: 48%; }
  .slogan p { font-size: 11px; }
}
@media (max-width: 330px) {
}
