/* Code tidied up by ScrapBook */
* { padding: 0px; margin: 0px; }
*::selection { background-color: black; color: white; }
*::-moz-selection { background-color: black; color: white; }
img::selection { background: transparent none repeat scroll 0% 0%; }
img::-moz-selection { background: transparent none repeat scroll 0% 0%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; text-align: left; vertical-align: baseline; list-style-type: none; }
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea, select, input[type="submit"], button[type="submit"], input[type="reset"], input[type="button"] { transition: all 0.3s linear 0s; border-radius: 3px; outline: medium none; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input.input-field:focus { background-color: rgb(255, 255, 255); background-image: none; outline: medium none; border-color: rgb(214, 40, 49); box-shadow: 0px 0px 5px rgb(214, 40, 49); }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-top: 0px; }
input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea { background: transparent -moz-linear-gradient(center top , rgb(250, 250, 250) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%; border: 1px solid rgb(216, 216, 217); margin: 5px 5px 5px 0px; display: inline-block; float: left; box-shadow: 0px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255) inset; text-shadow: 0px 1px 0px rgb(255, 255, 255); padding: 8px 10px; color: rgb(119, 119, 119); font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; }
input[type="submit"], button[type="submit"], input[type="reset"] { padding: 6px 10px; font-family: Arial,Helvetica,sans-serif; font-weight: normal; display: inline-block; margin: 5px 5px 5px 0px; cursor: pointer; }
input[type="submit"], button[type="submit"] { border: medium none ! important; outline: medium none; }
em { font-style: italic; }
body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 22px; color: rgb(119, 119, 119); }
a img { border: 0px none; }
a:link, a:visited {  }
a:hover {  }
a:active {  }
:-moz-placeholder { color: rgb(204, 204, 204); }
a img { border: medium none; }
h1 { font-size: 30px; line-height: 40px; margin-bottom: 35px; }
h2 { font-size: 26px; line-height: 35px; margin-bottom: 30px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 20px; }
p { margin-top: 0px; margin-bottom: 20px; font-family: Arial,Helvetica,sans-serif; }
.float-right, .floatright { float: right ! important; }
.float-left, .floatleft { float: left ! important; }
.clear, br.clear, div.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
ol li { list-style: inside none decimal; }
