/* Code tidied up by ScrapBook */
.float-right { float: right; }
.full-width-wrapper, .fixed-width-wrapper { clear: both; height: auto; min-height: 1px; }
.full-width-wrapper { width: 100%; }
.fixed-width-wrapper { width: 960px; margin: 0px auto; }
.img-border { background-color: rgb(255, 255, 255); border: 1px solid rgb(229, 229, 229); display: block; width: auto; max-width: 100%; height: auto; overflow: hidden; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05); padding: 5px; }
.img-border:hover { box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); border-color: rgb(204, 204, 204); }
.border-frame img, .img-border img { margin: 0px ! important; padding: 0px ! important; }
.clear { clear: both ! important; }
div .first { margin-left: 0px; clear: left; }
.one-half, .one-third, .one-fourth, .one-fifth, .one-sixth, .two-third, .two-fourth, .two-fifth, .two-sixth, .three-fourth, .three-fifth, .three-sixth, .four-fifth, .four-sixth, .five-sixth { margin-bottom: 20px; float: left; margin-left: 4%; display: block ! important; position: relative ! important; }
.one-third { width: 30.65%; }
.alignleft { float: left; margin: 5px 25px 25px 0px; }
.m-menu ul { list-style-type: none; }
.m-menu ul li { position: relative; z-index: 9999; display: inline; float: left; font-size: 14px; font-weight: 700; padding: 5px 0px; }
.m-menu ul > li:hover > a { color: rgb(255, 255, 255); text-decoration: none; font-size: 14px; font-weight: 700; }
.m-menu ul > li:first-child { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.m-menu ul li a { display: block; color: rgb(119, 119, 119); padding: 9px 15px; }
.m-menu ul > li:hover { background-color: rgb(85, 85, 85); background-position: left 3px; }
.m-menu ul li span.sub-nav { background: transparent url("drop-down-arr.png") no-repeat scroll 0px 0px; width: 9px; height: 9px; overflow: hidden; position: absolute; right: 8px; top: 16px; text-indent: -9999px; }
.m-menu ul > li a.parent { padding-right: 15px; position: relative; }
.m-menu > div > ul:first-child > li > a.parent { padding-right: 25px; }
.m-menu ul li div { position: absolute; z-index: 9998; left: 0px; width: 620px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 1px 1px 0px rgb(255, 255, 255) inset, -1px -1px 0px rgb(255, 255, 255) inset; }
.m-menu ul li ul { display: none; float: left; }
.m-menu ul li ul li { background: rgb(251, 251, 251) none repeat scroll 0% 0% ! important; width: 310px; border-bottom: 1px solid rgb(242, 242, 242); border-top: 1px solid rgb(255, 255, 255); display: list-item; margin-right: 0px; transition: none 0s ease 0s  ! important; }
.m-menu ul li ul li:last-child { border-bottom: medium none; }
.m-menu ul li ul li a { border-radius: 0px; display: block; border-left: 0px solid transparent; padding: 5px 7px; }
.m-menu ul:first-child li.current-menu-parent ul li.current-menu-item.current_page_item > a, .m-menu ul li ul li:hover > a, .m-menu > ul > li.current_page_parent ul li a, .m-menu > ul > li.current-menu-ancestor ul li.current_page_item a, .m-menu ul li.current-menu-item a .m-menu > ul > li.current-menu-parent ul li.current-menu-item a, .m-menu ul li ul li.current-menu-ancestor > a, .m-menu ul li ul li.current-menu-ancestor .current-menu-item > a { border-left: 5px solid rgb(249, 87, 0); background-color: rgb(255, 255, 255); color: rgb(120, 120, 120); padding-left: 10px; text-shadow: none; }
.m-menu ul li ul li:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.m-menu ul li ul li a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-decoration: none; }
ul.list-news li { padding-top: 20px; padding-bottom: 15px; overflow: hidden; }
ul.list-news li:first-child { padding-top: 0px ! important; }
ul.list-news li p { margin-bottom: 10px; }
ul.list-news li .alignleft { margin-bottom: 5px; }
.float-left, .img-border img, .border-frame object, .border-frame iframe { float: left; }
