/* Code tidied up by ScrapBook */
*::selection { background: rgb(249, 87, 0) none repeat scroll 0% 0%; }
*::-moz-selection { background: rgb(249, 87, 0) none repeat scroll 0% 0%; }
.m-menu ul > li.current, .m-menu ul > li.current-menu-item, .m-menu ul > li.current_page_item, .m-menu ul > li.current-menu-ancestor, .m-menu ul > li.current-menu-parent, #g-search button, .box_skitter_home.maxx-theme .label_skitter, .maxx-primary-button, input[type="submit"], button[type="submit"], .m-pagination span.current, #get-in-touch #via-phone-number .icon, .drop-cap.primary, .flex-control-nav li a.flex-active, .md-pricing-table .pt-column.pt-featured-col .pt-heading h1, .md-pricing-table .pt-column.pt-featured-col .pt-heading h5 { background-color: rgb(249, 87, 0); }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input.input-field:focus, select:enabled:focus { border-color: rgb(249, 87, 0); box-shadow: 0px 0px 5px rgb(249, 87, 0); }
a, .comment-content a, .comment-time a:hover, .comment-link-function a:hover, .required, .entry-meta ul li a:hover, .post-tags a:hover, .comment-meta cite a, .comment-meta cite, #comment-nav-below a:hover, #sidebar ul li a:hover, #main-content-wrapper ul li a:hover, #main-content-wrapper ol li a:hover, #sidebar .widget-twitter li a, #sidebar .widget ul li.current-cat > a, .link-pages a, .error, #sidebar .md-latest-portfolios-widget p a:hover, .sp-list li a:hover, #sidebar .widget_recent_comments ul li a:first-child, .m-simple-accordion dt.active span, .m-simple-toggle dt.active span, .m-simple-tabs dt.active span { color: rgb(129, 52, 0); }
#top-bar-wrapper a:hover, #footer-widget-wrapper a:hover, #footer-extra-wrapper a:hover, #footer-widget-wrapper a:hover strong, #footer-extra-wrapper a:hover strong, #footer-widget-wrapper .widget-twitter li a:hover { color: rgb(249, 87, 0); }
