/* Code tidied up by ScrapBook */
.toggleMenu { display: none; background: rgb(102, 102, 102) none repeat scroll 0% 0%; padding: 10px 15px; color: rgb(255, 255, 255); border-radius: 3px; position: fixed; top: 85px; }
.nav { position: fixed; top: 125px; list-style: outside none none; background: rgb(251, 251, 251) none repeat scroll 0% 0%; box-shadow: -1px -1px 0px rgb(255, 255, 255) inset; border-radius: 5px; display: none; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.nav a { padding: 10px 15px; color: rgb(119, 119, 119); font-weight: bold; font-size: 14px; }
.nav li { position: relative; border-bottom: 1px solid rgb(204, 204, 204); }
.nav > li { float: left; padding: 0px; }
.nav > li > a { display: block; }
.nav > li { float: none; }
.nav > li:last-child > a::before { content: "new"; height: 20px; width: 30px; background-color: rgb(249, 87, 0); display: block; position: absolute; top: 6px; right: 10px; color: rgb(255, 255, 255); padding: 3px 10px; font-size: 15px; line-height: 19px; border-radius: 3px; }
.phone-device { font-size: 12px; display: none; position: absolute; line-height: 1.2em; width: 300px; right: -5px; top: 5px; text-align: right; }
#user-city { margin-top: 45px; font-size: 16px; text-shadow: 0px 0px 0px rgb(0, 0, 0); text-align: center; }
#user-city1 { visibility: hidden; }
.tooltip { display: none; width: 210px; position: absolute; background-color: rgb(255, 255, 255); box-shadow: 1px 3px 12px rgb(0, 0, 0); padding: 10px; border-radius: 5px; }
.tooltip p { padding-top: 0px; color: rgb(53, 53, 53); font-weight: bold; }
.tooltip span { color: rgb(0, 0, 0); }
.tooltip .btn-t, .tooltip .btn-tt { cursor: pointer; }
.tooltip .btn-t:hover, .tooltip .btn-tt:hover { background-color: rgb(244, 165, 88); }
.left-phone-p { background-image: url("bg123-phone.png"); background-repeat: no-repeat; background-position: 175px 5px; width: 60% ! important; float: none; display: inline-block; }
#user-city span { border-bottom: 1px dotted rgb(111, 111, 111); cursor: pointer; color: rgb(0, 0, 0); }
#user-city span::before { content: ""; position: absolute; width: 20px; height: 22px; background: transparent url("icon-location.png") no-repeat scroll 0% 0% / 18px auto; margin-left: -30px; }
.left-phone-path .phone-l img { display: none; }
.list-wrap { display: block; width: auto; position: absolute; right: 50px; top: 70px; background-color: rgb(255, 255, 255); padding: 15px; z-index: 999999; }
.title-counter { font-size: 16px; font-weight: bold; margin-bottom: 10px; }
.entry-header h1 { mask-image: url("mask.png"); padding-bottom: 20px; color: rgb(119, 119, 119); background: transparent url("sp.png") repeat-x scroll center bottom; }
.list-wrap ul { width: 195px; display: inline-block; max-height: 1000px; vertical-align: top; }
#user-city1 { visibility: hidden; }
.del1 { z-index: 2147483647; display: inline-block; padding: 2px 10px; position: absolute; top: 36px; font-size: 18px; cursor: pointer; left: 70%; width: 15%; height: 50px; }
.del1:not(:checked) + label + * { display: none ! important; }
.del1:not(:checked) + label, .del1:checked + label { display: inline-block; padding: 2px 10px; border-radius: 2px; cursor: pointer; }
.list-wrap ul li { display: inline-block; width: 170px; border-bottom: 1px dotted rgb(198, 198, 198); margin-right: 20px; color: rgb(0, 0, 0); cursor: pointer; text-decoration: underline; }
.list-wrap ul li a { color: rgb(0, 0, 0); }
.colorwhite { background-color: rgb(237, 229, 211); color: rgb(0, 0, 0) ! important; }
.adres-block { position: relative; z-index: 99999; }
@media (max-width: 1024px) {
  .list-wrap { right: 0px; }
  .del1 { left: 75%; }
}
@media (max-width: 992px) {
  .video-slider .owl-next { right: 0px; }
  .md-container, .fixed-width-wrapper { width: 100%; }
  .header-sertificate { width: 95%; }
  .new-header { width: 100%; }
  .slogan { width: 120px; }
  .slogan p { font-size: 14px; padding-top: 38px; padding-left: 5px; }
  .active { display: block; }
  #content { width: 100%; }
  .entry-content { padding: 0px; }
  .sidebar-right #sidebar { float: left; width: 100%; }
  .sidebar-video-item { text-align: center; }
  .sidebar-right .sidebar-content-wrapper { margin-left: 5px; }
  #wrap-all { overflow-x: hidden; }
  .left-phone-p { background-position: 100% 5px; }
  .list-wrap { right: 34px; margin-top: 38px; width: 400px; }
  #user-city { width: 0px; display: block; overflow: hidden; }
}
@media (max-width: 768px) {
  body { overflow-x: hidden; }
  .one-third { width: 45%; }
  .phone-block .wrap-phones { background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 14px; width: 73%; display: inline-block ! important; }
  .mail-wrapper { width: 93%; }
  .left-phone-p { background: transparent none repeat scroll 0% 0%; position: relative; }
  .left-phone-path .phone-l img { display: inline-block; position: absolute; top: 5px; left: 100%; }
  .slogan { width: 53%; float: left; margin-right: 10px; }
  .adres-block .tooltip { position: fixed; left: 50%; top: 25%; transform: translate(-50%, -50%); }
  .phone-device { display: block; }
  .phone-block { padding: 0px; width: 100%; text-align: center; }
  .adres-block { position: absolute; right: 0px; margin-right: 7%; width: 0px; }
  #sertificates-slider .owl-item { width: 170px ! important; }
  #main-content-wrapper img, #sidebar img { width: 100%; }
  #mail-slider .item-m { margin: 0px 20px; }
  #customer-slider .owl-wrapper { left: 10px ! important; }
  .owl-carousel .owl-wrapper-outer { margin-left: -5px; }
  #works-slider .owl-wrapper-outer { margin-left: -17px; }
  .entry-content p { text-align: center; }
  #mail-slider .owl-prev { left: 7px; }
  #banner { height: 50px; }
  #footer-widget-content .widget-title, #sidebar .widget-title { text-align: center; }
  .right-why-are h3, .phone-l, .phone-l-desc { text-align: center; }
  .video-slider .owl-prev { left: 7px; }
  .owl-carousel .owl-wrapper { left: 35px ! important; }
  .del1 { left: 75%; }
}
@media (max-width: 750px) {
}
@media (max-width: 736px) {
}
@media (max-width: 620px) {
}
@media (max-width: 520px) {
  #get-in-touch #via-phone-number { white-space: normal; }
  .phone-block .wrap-phones .left-phone-path { width: 100%; float: none; }
  .phone-block .wrap-phones .right-phone-path { width: 73%; background-position: 20% 5px; padding-left: 40%; background-image: url("bg-phone-noline.png"); }
  .owl-pagination { width: 95%; }
  .phone-block .wrap-phones.clearfix { margin: 0px auto; }
  #user-city { margin-top: 46px; }
  .list-wrap ul { width: 100%; }
  .list-wrap ul li { width: 100%; }
  .more-all { display: block; text-align: center; }
  .owl-carousel .owl-wrapper { left: 0px ! important; }
  input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea { width: 250px; }
  #mail-slider .owl-next { right: 10px; }
  #mail-slider .item-m { margin: 0px 37px; padding-right: 15px; }
  .item-v { margin-left: 40px; }
  #mail-slider .owl-prev { left: 16px; }
  #get-in-touch #via-email { text-align: center; float: none; margin-left: -10px; }
  .owl-carousel .owl-wrapper-outer { margin-left: 5px; }
  .owl-carousel { margin-left: 10px; }
  .video-slider .owl-prev { left: -7px; }
  .video-slider .owl-next { right: 10px; }
  .cufon { font-size: 18px; padding-top: 15px; }
  #get-in-touch #via-phone-number { margin-left: 5px; }
  .item-v { margin-left: 8px; }
  #customer-slider .item-v { margin-left: -20px; padding-right: 41px; }
  #works-slider .item-v { margin-left: 10px; }
  .header-sertificate p { padding: 15px 0px 20px 19px; font-size: 14px; }
  .list-wrap { width: 100%; left: 0px; }
  .left-phone-p { width: 100% ! important; }
  .phone-l { font-size: 18px; }
  .left-phone-p { background: transparent none repeat scroll 0% 0%; }
  .left-phone-p p { margin-right: 35px; position: relative; }
}
@media (max-width: 415px) {
}
@media (max-width: 380px) {
}
@media (max-width: 330px) {
  body #footer-widget-wrapper input { margin-left: -10px; padding: 10px; }
  #sertificates-slider .owl-item { width: 96px ! important; }
  #customer-slider .item-v { margin-left: -2px; padding-right: 15px; }
  .phone-block { width: 100%; }
  .owl-carousel .owl-wrapper-outer { margin-left: -15px; }
  #mail-slider .item-m { margin: 0px 20px 0px 60px; }
  .logo-container { width: 130px; }
  #mail-slider .item-m img { height: 320px; }
  input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input.input-field, textarea { width: 85%; padding: 35px; margin-left: 55px; }
  .slogan { width: 50%; }
  .slogan p { font-size: 12px; padding-left: 0px; }
  .adres-block { margin-right: 5%; }
}
.listCityjs li.active { font-weight: 700; }
@media (max-width: 1000px) {
}
@media (max-width: 370px) {
}
@media (max-width: 770px) {
  .modal .modal-block { width: 95%; }
}
@media (max-width: 415px) {
}
@media (max-width: 325px) {
  .phone-block .wrap-phones .right-phone-path { background-position: 7% 5px; padding-left: 35%; }
}
