/* Code tidied up by ScrapBook */
div#jivo-iframe-container { width: 0px ! important; height: 0px ! important; transition: none 0s ease 0s ; position: fixed ! important; overflow: hidden ! important; background: transparent none repeat scroll 0% 0% ! important; max-height: 100% ! important; min-height: 0px ! important; padding: 0px; margin: 0px; top: auto; bottom: 0px ! important; backface-visibility: hidden; }
iframe#jivo_container { z-index: 0 ! important; position: relative ! important; width: 0px ! important; height: 0px ! important; display: block ! important; background: transparent none repeat scroll 0% 0% ! important; top: 0px ! important; bottom: 0px ! important; opacity: 0; visibility: hidden; }
.globalClass_c0a5 a, .globalClass_c0a5 form, .globalClass_c0a5 iframe, .globalClass_c0a5 input, .globalClass_c0a5 svg, .globalClass_c0a5 textarea { animation: 0s ease 0s normal none 1 running none ! important; backface-visibility: visible ! important; background: transparent none repeat scroll 0% 0% ! important; border: 0px none ! important; box-shadow: none ! important; box-sizing: content-box ! important; bottom: auto ! important; caption-side: top ! important; clear: none ! important; clip: auto ! important; cursor: auto ! important; display: inline ! important; direction: ltr ! important; flex: 0 0 auto ! important; height: auto ! important; hyphens: manual ! important; image-rendering: auto ! important; justify-content: flex-start ! important; left: auto ! important; letter-spacing: normal ! important; line-height: normal ! important; margin: 0px ! important; max-height: none ! important; max-width: none ! important; min-height: 0px ! important; min-width: 0px ! important; object-fit: fill ! important; opacity: 1 ! important; order: 1 ! important; outline: 0px none ! important; overflow: visible ! important; padding: 0px ! important; perspective: none ! important; position: static ! important; resize: none ! important; right: auto ! important; text-align: left ! important; text-decoration: none ! important; text-indent: 0px ! important; text-overflow: clip ! important; text-shadow: none ! important; text-transform: none ! important; top: auto ! important; transform: none ! important; transition: all 0s ease 0s ! important; unicode-bidi: normal ! important; -moz-user-select: none ! important; vertical-align: baseline ! important; white-space: normal ! important; width: auto ! important; word-break: normal ! important; word-spacing: normal ! important; overflow-wrap: normal ! important; z-index: auto ! important; font-style: normal ! important; font-weight: 400 ! important; filter: none ! important; }
.globalClass_c0a5 a { -moz-text-size-adjust: inherit ! important; }
.globalClass_c0a5 *::after, .globalClass_c0a5 *::before { content: none; }
@supports (-ms-ime-align:auto) and (color:unset) {
  .globalClass_c0a5 {  }
}
jdiv { animation: 0s ease 0s normal none 1 running none; backface-visibility: visible; background: transparent none repeat scroll 0% 0%; border: 0px none; box-shadow: none; box-sizing: content-box; bottom: auto; caption-side: top; clear: none; clip: auto; cursor: auto; display: inline; direction: ltr; flex: 0 0 auto; height: auto; hyphens: manual; image-rendering: auto; justify-content: flex-start; left: auto; letter-spacing: normal; line-height: normal; margin: 0px; max-height: none; max-width: none; min-height: 0px; min-width: 0px; object-fit: fill; opacity: 1; order: 1; outline: 0px none; overflow: visible; padding: 0px; perspective: none; position: static; resize: none; right: auto; text-align: left; text-decoration: none; text-indent: 0px; text-overflow: clip; text-shadow: none; text-transform: none; top: auto; transform: none; transition: all 0s ease 0s; unicode-bidi: normal; -moz-user-select: none; vertical-align: baseline; white-space: normal; width: auto; word-break: normal; word-spacing: normal; overflow-wrap: normal; z-index: auto; filter: none ! important; font-weight: 400; -moz-text-size-adjust: inherit; -webkit-text-fill-color: currentcolor; }
jdiv::after, jdiv::before { box-sizing: inherit; }
.pseudoHeight_0e7e { position: fixed; top: 0px; bottom: 0px; width: auto; left: 0px; right: 0px; visibility: hidden; }
jdiv.jivoMouseTrack_a99e { position: fixed ! important; width: auto ! important; height: auto ! important; max-height: none ! important; z-index: 2147483647 ! important; left: -300px ! important; right: -300px ! important; top: -200px ! important; bottom: 0px ! important; display: none; background-color: transparent ! important; opacity: 0 ! important; -moz-user-select: none ! important; transform: none ! important; }
@keyframes showmessage_68eb {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes showmessage_68eb {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes wrapAnimation_098b {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapAnimation_098b {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_4e46 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_4e46 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_ed30 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_ed30 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_1c43 {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_1c43 {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_a529 {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_a529 {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
.player_5f92 { position: absolute; display: block; width: 0px; height: 0px; opacity: 0; overflow: hidden; }
@keyframes WidgetContainer_OPEN_WIDGET_f425 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
}
@keyframes WidgetContainer_OPEN_WIDGET_f425 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_fa50 {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth,336px); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_fa50 {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth,336px); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_9d04 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_9d04 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_c87a {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_c87a {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_a260 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_a260 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_046f {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_046f {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_b823 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_b823 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_9a73 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_9a73 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_a1d4 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
}
@keyframes WidgetContainer_OPEN_WIDGET_a1d4 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_62b5 {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_62b5 {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_74ec {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_74ec {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_7dd3 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_7dd3 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_b716 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_b716 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_249d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_249d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_ca51 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_ca51 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_4013 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_4013 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_9bc9 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_9bc9 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_68cf {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_68cf {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_9b2b {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_9b2b {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_4b4f {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_4b4f {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_6449 {
0% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_6449 {
0% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_33e8 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_33e8 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_af69 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_af69 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_7e65 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_7e65 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_3f31 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_3f31 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_a4d8 {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_a4d8 {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_1f5b {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_1f5b {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_dd89 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_dd89 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7a6f {
0% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7a6f {
0% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_b8b0 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,-100%); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_b8b0 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,-100%); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_5594 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_5594 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_72db {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_72db {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_213b {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_213b {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_a3bd {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_a3bd {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_34bd {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_34bd {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_a774 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(100%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_a774 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(100%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_71c8 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_71c8 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_20d2 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_20d2 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_86db {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_86db {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_b65d {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_b65d {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_05eb {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_05eb {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_234b {
0% { opacity: 1; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_234b {
0% { opacity: 1; }
100% { opacity: 1; }
}
.contentWrapper_f036, .main_f366 { display: block; height: 100%; width: 100%; }
.copyright_6b5a { position: absolute; display: block; cursor: pointer; background-color: rgb(65, 66, 67); height: 40px; line-height: 40px ! important; padding: 0px 16px ! important; border-radius: 4px ! important; box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.17); }
.copyright_6b5a._bottom_e675 { bottom: 50px; right: 45px; }
.copyright_6b5a._bottom_e675.__ru_7651 { right: 37px; }
.copyright_6b5a._bottom_e675 *::after { content: "" ! important; display: block; left: 0px; right: 0px; bottom: -10px; height: 10px; background: transparent none repeat scroll 0% 0%; }
.logoIcon_2ba3 { display: inline-block; width: 51px; height: 18px; background-repeat: no-repeat; background-size: contain; }
jdiv a.link_5bbb { font-family: Arial,sans-serif ! important; font-weight: 400 ! important; font-size: 13px ! important; display: inline-block ! important; width: auto ! important; height: 18px ! important; margin: 11px 0px 4px 2px ! important; transition: none 0s ease 0s  ! important; vertical-align: top ! important; box-sizing: border-box ! important; color: currentcolor; white-space: nowrap ! important; cursor: pointer ! important; line-height: 18px ! important; }
jdiv a.link_5bbb.__ru_7651 { margin: 10px 0px 4px ! important; }
jdiv a.link_5bbb.__ru_7651 .logoIcon_2ba3 { width: 27px ! important; margin-top: -1px; }
jdiv a.link_5bbb:hover, jdiv a.link_5bbb:visited { color: currentcolor; }
jdiv a.link_5bbb .logoIcon_2ba3 { vertical-align: top ! important; box-sizing: border-box ! important; margin-left: 2px; }
jdiv a.link_5bbb .logoIcon_2ba3:hover { cursor: pointer ! important; }
.text_1ebc { font-family: Arial,sans-serif; font-weight: 400; font-size: 13px ! important; white-space: nowrap; transform: translateZ(0px) ! important; line-height: 40px ! important; color: rgb(255, 255, 255); display: inline-block ! important; vertical-align: middle ! important; cursor: default ! important; }
.corner_5ea5 { position: absolute; width: 0px; height: 0px; }
._bottom_e675 .corner_5ea5 { bottom: -4px; right: 10px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(65, 66, 67); }
@keyframes showPopup_3033 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_3033 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_7d6b {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_7d6b {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes showPopup_e29f {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_e29f {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_5f16 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_5f16 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes ochange_fd84 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes ochange_fd84 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
.leaf_5ba2 { position: absolute; width: 32px; height: 33px; z-index: 6; overflow: hidden; }
.leaf_5ba2._bottom_de44, .leaf_5ba2._left_278b, .leaf_5ba2._right_8d72 { right: 0px; top: 0px; width: 33px; border-radius: 0px 24px 0px 0px ! important; }
.leaf_5ba2._bottom_de44 .cssLeaf_72dd, .leaf_5ba2._left_278b .cssLeaf_72dd, .leaf_5ba2._right_8d72 .cssLeaf_72dd { width: 32px ! important; height: 34px ! important; position: absolute; overflow: visible; right: 0px; top: 0px; }
@keyframes fadeOut_5f7e {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
@keyframes fadeOut_5f7e {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
@keyframes animationBtn_7d61 {
0% { box-shadow: 0px 0px 0px 0px; opacity: 0; }
30% { box-shadow: 0px 0px 0px 0px; opacity: 0.5; }
100% { box-shadow: 0px 0px 0px 50px; opacity: 0; }
}
@keyframes animationBtn_7d61 {
0% { box-shadow: 0px 0px 0px 0px; opacity: 0; }
30% { box-shadow: 0px 0px 0px 0px; opacity: 0.5; }
100% { box-shadow: 0px 0px 0px 50px; opacity: 0; }
}
.wrap_c896 { position: absolute ! important; top: 0px ! important; bottom: auto ! important; left: 0px ! important; right: 0px ! important; display: none; overflow: visible; max-height: none ! important; -moz-user-select: none ! important; direction: ltr ! important; height: 70px; }
.closeButton_f09b { display: block; margin-top: 0px ! important; margin-left: -34px ! important; width: 23px ! important; height: 23px ! important; cursor: pointer ! important; overflow: visible ! important; opacity: 1; transition: opacity 0.3s cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s ! important; }
.closeIcon_542b { display: block; width: 28px; height: 28px; background-repeat: no-repeat; cursor: pointer; opacity: 0.85; }
.closeIcon_542b:hover { opacity: 1; }
.label_2dac { position: fixed; z-index: 2147483647; backface-visibility: hidden; height: 40px; box-shadow: 0px 12px 14px 8px rgba(0, 0, 0, 0.17); filter: blur(0px); }
.label_2dac:hover { cursor: pointer; }
.label_2dac .leafCont_734b { position: absolute; }
.label_2dac._bottom_02c3 { border-top-left-radius: 8px ! important; border-top-right-radius: 34px ! important; min-width: 300px; }
.label_2dac._bottom_02c3 .leafCont_734b, .label_2dac._left_4bd7 .leafCont_734b, .label_2dac._right_5802 .leafCont_734b { right: 0px; }
.label_2dac._bottom_02c3 .lbContainer_8f11, .label_2dac._left_4bd7 .lbContainer_8f11, .label_2dac._right_5802 .lbContainer_8f11 { left: 0px; right: 0px; max-width: 300px; }
.label_2dac._bottom_02c3 .copyContainer_a300, .label_2dac._left_4bd7 .copyContainer_a300, .label_2dac._right_5802 .copyContainer_a300 { right: 0px; bottom: 0px; }
.label_2dac._bottom_02c3 .text_855f, .label_2dac._left_4bd7 .text_855f, .label_2dac._right_5802 .text_855f { transform: translateZ(0px); margin: 0px 37px 0px 16px; min-width: 160px; visibility: visible; }
.label_2dac._bottom_02c3 .text_855f:hover, .label_2dac._left_4bd7 .text_855f:hover, .label_2dac._right_5802 .text_855f:hover { cursor: pointer; }
.label_2dac .text_855f { font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; text-indent: 0px; line-height: 40px; vertical-align: top; white-space: nowrap; visibility: visible; backface-visibility: hidden; }
.label_2dac .text_855f:hover { cursor: pointer; }
.label_2dac .text_855f._offline_7f34 { margin-left: 8px; }
.label_2dac .hoverl_00d0 { z-index: 4; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.label_2dac .hoverl_00d0:hover { cursor: pointer; }
.copy_0a72 { position: relative; padding-top: 10px; padding-right: 36px; padding-left: 7px; display: inline-block; height: 18px ! important; float: right; }
.labelStatus_941e { cursor: pointer; width: 36px; height: 40px; background-repeat: no-repeat; background-position: 100% 50%; float: left; }
.copy_0a72:hover ~ .copyContainer_a300 { display: block; }
.copyContainer_a300 { position: absolute; display: none; }
.copyContainer_a300:hover { display: block; }
.hoverl_00d0:hover .lbContainer_8f11 { display: block; }
.lbContainer_8f11 { position: absolute; display: none; }
.contentTransitionWrap_f312 { animation-name: fadeIn_af68; animation-duration: 0.15s; animation-fill-mode: backwards; animation-timing-function: ease; }
@keyframes fadeIn_af68 {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
@keyframes fadeIn_af68 {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
.logo_184f { position: relative; display: block; }
.logo_184f._no-copyright_97ba, .logo_184f .fallback_9b83 { display: none; visibility: hidden; }
.logo_184f._bottom_cea2 .hoverBox_ac53 { left: -10px; right: -10px; top: -20px; bottom: -5px; height: 48px; max-height: 38px ! important; background-color: transparent; }
.hoverBox_ac53 { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; opacity: 0; z-index: 5; cursor: pointer; }
.logoIcon_e0b3 { display: block; width: 51px; height: 18px; background-repeat: no-repeat; background-position: 50% center; background-size: contain; }
.logoIcon_e0b3.__ru_0043 { width: 27px; }
@keyframes animationBtn_8353 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
@keyframes animationBtn_8353 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
